@import 'tailwindcss';
@plugin "daisyui";

@font-face {
    font-family: "Source Sans Pro";
    src: url("../src/assets/fonts/serif-pro/source-sans-pro.regular.ttf") format("truetype");
}


@plugin "daisyui/theme" {
    name: "dark";
    color-scheme: dark;
    default: true;
    --color-primary: #137FEC;

}

@plugin "daisyui/theme" {
    name: "light";
    default: false;
    --color-primary: #137FEC;
    prefersdark: false;
    color-scheme: light;

}

body {
    font-family: "Source Sans Pro", sans-serif;
}